.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Title{
  color:#272C34;
  text-align: left;
  align-items: left;
  justify-content: left;
  padding: 20px;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.welcomeHeader{
  position: fixed;
  width: 100%;
  top: 0px;
  background-color: #A2D6D4;
  text-align: center;
  justify-content: center;
}
.welcomeTitle{
  margin: 0 auto;
    width: 80%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button{
  margin: 20px;
}

.baseExperience{
  padding: 20px;
  justify-content: right;
  text-align: right;
  color: #F37732;

}